.logo {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    background-color: gray;
    color: white;
}

.btn_menu {
    color: white;
    padding: 15px;
}

.btn_menu a{
    color: white;
    text-decoration: none;
}

.menu {
    border-bottom: 4px solid gray;
    width: 100%;
    display: flex;
    background-color: black; 
}

ul.navigation {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: none;
    flex-direction: column;
}

    /* si tiene tambien la clase show */
    ul.navigation.show {
        display: flex;
    }

ul.navigation li {
    list-style: none;
    margin: 0px 0px;
    padding: 15px 20px;
}

ul.navigation li a {
    text-decoration: none;
    color: white;
}

ul.navigation li:hover {
    background-color: gray;
}


@media screen and (min-width: 660px){

    /* en desktop ocultamos siempre el boton del menu */
    .btn_menu {
       display: none;
    }

   /* cambiamos la direccion del flex */
    ul.navigation {
        display: flex;
        flex-direction: row;
    }
    
}


