form {
  background-color: #1f1f1f;
  padding: 1rem;
  border: 1px solid #444;
  max-width: 600px;
  margin: auto;
}

form label {
  display: block;
  margin: 0.5rem 0 0.2rem;
}

form input,
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #777;
  background-color: #222;
  color: #f0f0f0;
}

form button {
  background-color: #00ff99;
  border: none;
  padding: 0.7rem;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #00cc7a;
}

#mensajeCaptcha {
  margin-top: 0.5rem;
  font-weight: bold;
}

#captchaTexto {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #131312;
  background-color: #e4cfcf;
  border: 1px #f5b115;
  padding: 0.3rem 0.6rem;
  letter-spacing: 2px;
  font-family: monospace;
  margin-left: 0.5rem;
}
.captcha {
  margin-top: 1em;
}

.mensaje {
  margin-top: 0.5em;
  font-weight: bold;
}
canvas{
  width:150px;
  height:50px;
}
.captcha-texto,
.captcha-visual {
  margin-top: 1em;
}

.mensaje {
  font-weight: bold;
  margin-top: 0.5em;
}
