form {
    background-color: #1f1f1f;
    padding: 1rem;
    border: 1px solid #444;
    max-width: 600px;
    margin: auto;
  }
  
  form label {
    display: block;
    margin: 0.5rem 0 0.2rem;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #777;
    background-color: #222;
    color: #f0f0f0;
  }
  
  form button {
    background-color: #00ff99;
    border: none;
    padding: 0.7rem;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
  
  #mensajeCaptcha {
    margin-top: 0.5rem;
    font-weight: bold;
  }
  
  