content {
    text-align: center;
    display: flex; /* Habilita Flexbox para los hijos directos */
    flex-direction: row; /* pone los elementos en fila*/
    justify-content: space-around; /* hace que el espacio quede distribuido */
    padding: 20px; /* pone espacio al lado de los productos */
}
h1 {
    text-align: center;
}
.producto1 {
    border: solid black;
    margin: 5px;
}
.producto2 {
    border: solid black;
    margin: 5px;
}
.producto3 {
    border: solid black;
    margin: 5px;
}